src/main/mule/Implementation/deleteStudentById.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="delete:\students\(studentId):student-training-management-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="studentId">attributes.uriParams.'studentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:delete doc:name="Delete" doc:id="919253c8-106f-4005-8602-e1ac960c5a42" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from students where student_id = :studentId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"studentId": attributes.uriParams.studentId
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  response: "Deleted successfully",
  studentId: vars.studentId
} ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="errorHandlerError_Handler" />
    
</flow>
	</mule>
