src/main/mule/Implementation/getStudents.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="get:\students:student-training-management-api-config">
        <db:select doc:name="Select" doc:id="b5f6a84a-5fa1-40b1-9b60-080a9039971a" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from students offset :page limit :pageSize]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"page": attributes.queryParams.page,
	"pageSize": attributes.queryParams.pageSize
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> 
{
    "studentId": item.student_id,
    "firstName": item.first_name,
    "lastName":item.last_name,
    "email": item.email,
    "school": item.school,
    "trainerId": item.trainer_id,
    "trainingStatus": item.training_status,
    "courseId": item.course_id
}
)
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	</mule>
