src/main/mule/Implementation/getStudentById.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="get:\students\(studentId):student-training-management-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="studentId"><![CDATA[attributes.uriParams.'studentId'

]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:select doc:name="Select" doc:id="47f9f469-3505-4a65-b306-7ddf069f89f0" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from students where student_id = :studentId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"studentId": attributes.uriParams.studentId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> 
{
    "studentId": item.student_id,
    "firstName": item.first_name,
    "lastName":item.last_name,
    "email": item.email,
    "school": item.school,
    "trainerId": item.trainer_id,
    "trainingStatus": item.training_status,
    "courseId": item.course_id
}
)
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	</mule>
