src/main/mule/Implementation/updateStudents.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="put:\students:application\json:student-training-management-api-config">
        <set-variable value="#[payload]" doc:name="Set Variable" doc:id="b46cdf1b-1830-471c-900d-2004bdfd8f02" variableName="data"/>
		<db:bulk-update doc:name="Bulk update" doc:id="199d0fe1-c8c9-425d-941a-5d410a41d5dd" target="bulkUpdateOutput">
			<db:sql ><![CDATA[UPDATE students
set first_name = :firstName , last_name = :lastName, email = :email , school = :school , trainer_id = :trainerId, training_status = :trainingStatus, course_id = :courseId
WHERE student_id = :studentId;]]></db:sql>
		</db:bulk-update>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.data map ((item, index) -> 
{
	"studentId": item.studentId,
    "message": "Details of"++" "++ item.firstName ++ " "++ item.lastName ++" "++"updated"
    
})]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	</mule>
