src/main/mule/Implementation/updateStudentById.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="put:\students\(studentId):application\json:student-training-management-api-config">
        <set-variable value="#[payload]" doc:name="Set Variable" doc:id="edde5dc6-cc25-4a58-b187-8e1ddd023bc8" variableName="data"/>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="studentId">attributes.uriParams.'studentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:update doc:name="Update" doc:id="6082aaaa-7dcf-401b-9bae-664b5a29cf58">
			<db:sql ><![CDATA[UPDATE students
set first_name = :firstName , last_name = :lastName, email = :email , school = :school , trainer_id = :trainerId, training_status = :trainingStatus, course_id = :courseId
WHERE student_id = :studentId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"studentId": attributes.uriParams.studentId,
	"firstName": payload.firstName,
	"lastName": payload.lastName,
	"email": payload.email,
	"school": payload.school,
	"trainerId": payload.trainerId,
	"trainingStatus": payload.trainingStatus,
	"courseId": payload.courseId
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "studentId": vars.studentId,
  "message": "Details  of "++ " "++ vars.data.firstName++" "++ vars.data.lastName++ " "++"updated successfully " 
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler ref="errorHandlerError_Handler" />
    
</flow>
	</mule>
